button{
    background-color: #dadce0;
    width: 10%;
    height: 40px;
    margin-bottom: 10px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.angka{
    background-color: #f1f3f4;
}
.hasil{
    width: 41%;
    background-color: #4285f4;
    font-family: arial,sans-serif;
    color: white;
    font-size: 18px;
}
.input{
    font-size: medium;
    font-weight: normal;
    width: 40%;
    height: 70px;
    border-radius: 10px;
    border: 1px solid #4285f4;
    padding-left: 10px;
    margin-bottom: 10px;
    
}
.input input{
    float: right;
    font-size: xx-large;
    text-align: right;
    border: none;
    padding-right: 20px;
    padding-top: 7px;
}
.input small{
    float: right;
    padding-right: 20px;
    font-size: medium;
}